
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

h1.regester {
  text-align: center;
  margin-bottom: 10px;
}

form {
  width: 300px;
  padding: 20px;
  display: flex;
  align-items: start;
  flex-direction: column;
  background: #fff;
  box-shadow: 2px 2px 8px #3333331c;
  border-radius: 8px;
  gap: 20px;
}

form > div {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

form > div label {
  color: #777;
}

form > div input {
  padding: 5px 10px;
  border: 0;
  border-bottom: 1px solid #ddd;
  outline: none;
  width: 100%;
  font-size: 17px;
}

form span {
  color: #E91E63;
  font-weight: 400;
  font-size: 15px;
}

form > div input::placeholder {
  color: #ddd;
}

form button {
  transition: .3s;
  width: 100%;
  border-radius: 10px;
  padding: 5px 15px;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-weight: 600;
}

form button:hover {
  background-color: #E91E63;
  color: #fff;
}

form button:active {
  transform: scale(.91);
}